


<div
  class="flex flex-col space-y-8 bg-white dark:bg-bg-dark border-e-[1px] border-black-16 dark:border-brdr-dark fixed h-full transition-all duration-100 ease-in-out"
  [ngClass]="{ 'w-14': !isExpanded, 'w-44': isExpanded }"
>
  <div class="mt-5 mb-0 flex justify-center items-center cursor-pointer h-8">
    <!-- Use ng-template for conditional rendering -->
    <ng-container *ngIf="isExpanded; else collapsedTemplate">
      <span class="pr-3 font-semibold text-2xl text-black dark:text-text-dark "> sellerapp </span>
    </ng-container>

    <!-- The template for when the sidebar is collapsed -->
    <ng-template #collapsedTemplate>
      <app-svg-icon
        [svgClass]="'text-[#010715] dark:text-text-dark '"
        [width]="'35'"
        [height]="'26'"
        [path]="brandIcon"
      >
      </app-svg-icon>
    </ng-template>

    <button
      class="flex justify-center items-center cursor-pointer"
      (click)="toggleSidebar()"
    >
      <i
        class="fa-solid fa-arrow-left p-[.1rem] text-[.8rem] rounded border border-gray-500 hover:bg-gray-100"
        *ngIf="isExpanded"
      ></i>
      <i
        *ngIf="!isExpanded"
        class="fa-solid fa-arrow-right p-[.1rem] text-[.8rem] rounded border border-gray-500 hover:bg-gray-100"
      ></i>
    </button>


  </div>

  <div class="flex-1 space-y-2">
    <ng-container *ngFor="let item of menuItems; let i = index">
      <a
        class="flex items-center py-0.5 hover:bg-[#696FFB3D] rounded transition-colors group"
        href="#"
        [ngClass]="{
          'justify-center mx-3': !isExpanded,
          'justify-start mx-[.55rem] px-2': isExpanded
        }"
      >
        <div class="pt-[.2rem]">
          <app-svg-icon
            [svgClass]="'text-black-60 group-hover:text-blue dark:text-text-dark transition-colors'"
            [width]="'21'"
            [height]="'21'"
            [path]="item.path"
          ></app-svg-icon>
        </div>

        <span
          class="mx-3 font-semibold  text-black-60 dark:text-text-dark  group-hover:text-blue"
          *ngIf="isExpanded"
        >
          {{ item.name }}
        </span>
      </a>

      <!-- Add <hr> after the first 4 items, then after every 3rd item -->
      <hr
        *ngIf="i === 3 || (i >= 3 && i % 3 === 0)"
        class="border-gray-300 dark:border-brdr-dark my-2"
      />
    </ng-container>
  </div>

  <div class="flex items-center mx-auto py-5">
    <p *ngIf="isExpanded" class="text-black-60 dark:text-text-dark text-sm pe-3">Dark</p>
    <app-theme-toggle></app-theme-toggle>
    <p *ngIf="isExpanded" class="text-black-60 dark:text-text-dark  text-sm ps-3">Light</p>
  </div>
</div>
