


<div class="flex h-full bg-blue-4 dark:bg-[#FFFFFF29]">
  <app-sidebar (SliderTogglerEmitter)="toggleExpand($event)"></app-sidebar>
  <div
    class="transition-all duration-100 w-full"
    [ngClass]="{'ml-44': isExpanded , 'ml-14': !isExpanded}"
  >
  <div
      class="w-full fixed top-0 z-10 bg-white transition-all duration-200"
      [style.left]="isExpanded ? '11rem' : '3.5rem'"
      [style.width]="isExpanded ? 'calc(100% - 11rem)' : 'calc(100% - 3.5rem)'"
    >
      <app-topbar></app-topbar>
    </div>

    <div class="p-6 mt-16 w-full">
      <router-outlet></router-outlet>
    </div>

  </div>

</div>
