/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

:root {
  --bg-light: #ffffff;
  --text-light: #000000;
  --bg-dark: #1F214A;
  --text-dark: #ffffff;
}

/* Light Mode */
html {
  background-color: var(--bg-light);
  color: var(--text-light);
  transition: background-color 0.3s, color 0.3s;
}

/* Dark Mode */
html.dark {
  background-color: var(--bg-dark);
  color: var(--text-dark);
}


@layer base {
  html {
    width: 100%;
    font-family: 'Roboto', sans-serif;
  }
}

